<div class="x">1</div>
<div id="update_form">
	<%= form_for(:client, :url => changedpassword_path) do |f| %>
	  <div class="field">
		New Password<br />
		<%= f.text_field :new %>
	  </div>
	  <div class="field">
		Re-enter Password<br />
		<%= f.text_field :confirmation %>
	  </div>
	  <div class="actions" id="submit">
		<%= f.submit "Change Password" %>
	  </div>
	<% end %>
</div>