
<div class="x">1</div>
<div>
	<table>
		<tr>
			<td class="_country">Country</td>
			<td class="_tournament">Tournament</td>
			<td class="_manager">Manager</td>
			<td class="_coach">Coach</td>
			<td class="_team">Team One</td>
			<td class="_nteam">Team Two</td>
			<td class="_match">Match</td>
		</tr>
	</table>

</div>

