// Place all the styles related to the Matches controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


table#matches{
	position:relative;
	margin-left:auto;
	margin-right:auto;
}

table#matches tr th{	
	color:white;
}

#matches tr th{
	border-bottom:1px solid white;
	background-color:black;
	opacity:0.9;
	font-size:11px;
	font-family:"verdana";
	font-weight:bold;
	text-align:center;
	width:100px;
}


#matches tr td{
	border-bottom:1px solid white;
	background-color:black;
	opacity:0.6;
	color:white;
	font-size:10px;
	font-weight:bold;
	font-family:"verdana";
	text-align:center;
	width:100px;
	height:25px;
}

#matches tr td a{
	border-bottom:1px solid white;
	background-color:black;
	opacity:0.6;
	color:white;
	font-size:10px;
	font-weight:bold;
	font-family:"verdana";
	text-align:center;
	width:100px;
}


#newmatch{
	text-align:center;
}

#newmatch a{
	color:white;
}

#editmatch{
	text-align:center;
}

#editmatch a{
	color:white;
}

#new_match .fields{
	text-align:left;
}

.edit_match .fields{
	text-align:left;
}

#container1{
	position:relative;
	margin-top:-10px;
	margin-left:auto;
	margin-right:auto;
	width:90%;
}

#container2{
	position:relative;
	margin-top:10px;
	margin-left:auto;
	margin-right:auto;
	width:90%;
}

.rr{
	position:relative;
	margin-top:20px;
	color:white;
	width:200px;
	text-align:left;
	font-weight:bold;
}

#public_clients{
	text-align:center;
}


table#public_match_table{
	position:relative;
	margin:20px auto;
}


table#public_match_table tr th{	
	color:white;
}

#public_match_table tr th{
	border-bottom:1px solid white;
	background-color:black;
	opacity:0.9;
	font-size:11px;
	font-family:"verdana";
	font-weight:bold;
	text-align:center;
	width:100px;
}


#public_match_table tr td{
	border-bottom:1px solid white;
	background-color:black;
	opacity:0.6;
	color:white;
	font-size:10px;
	font-weight:bold;
	font-family:"verdana";
	text-align:center;
	width:100px;
	height:25px;
}

#public_match_table tr td a{
	border-bottom:1px solid white;
	background-color:black;
	opacity:0.6;
	color:white;
	font-size:10px;
	font-weight:bold;
	font-family:"verdana";
	text-align:center;
	width:100px;
}

#publicscorecard_1{
	margin:-5px;
	width:900px;
	margin-left:auto;
	margin-right:auto;
	color:white;
	background: -webkit-radial-gradient(10% 30%, green, black);
	border:2px solid lightgrey;
	border-radius:15px;
}

#publicscorecard_2{
	margin:-5px;
	width:900px;
	margin-left:auto;
	margin-right:auto;
	color:white;
	background: -webkit-radial-gradient(10% 30%, green, black);
	border:2px solid lightgrey;
	border-radius:15px;
}

.p_Batting_summary_1{
	width:150px;
	height:25px;
	border-top:1px solid lightgrey;
}

.p_Batting_summary_2{
	width:150px;
	height:25px;
	border-top:1px solid lightgrey;
}

.p_Bowling_summary_1{
	width:150px;
	height:25px;
	border-top:1px solid lightgrey;
}

.p_Bowling_summary_2{
	width:150px;
	height:25px;
	border-top:1px solid lightgrey;
}


#last18balls_1{
	position:relative;
	color:black;
	margin:20px auto;
	width:500px;
	overflow:auto;
}

#last18balls_2{
	position:relative;
	color:black;
	margin:20px auto;
	width:500px;
	overflow:auto;
}

.over_cell_1{
	width:15px;
	height:15px;
	background-color:blue;
	color:white;
	opacity:0.7;
}

.over_cell_2{
	width:15px;
	height:15px;
	background-color:blue;
	color:white;
	opacity:0.7;
}

.last_18_cell_1{
	width:15px;
	height:15px;
	background-color:white;
	opacity:0.7;
}

.last_18_cell_2{
	width:15px;
	height:15px;
	background-color:white;
	opacity:0.7;
}

#bishal_imgs_left{
	background-width:120px;
	background-color:white;
	position:absolute;
	top:50%;
	left:0;
	float:left;
}

#bishal_imgs_right{
	background-width:120px;
	background-color:white;
	position:absolute;
	top:50%;
	right:0;
	float:right;
}

#bishal_imgs_left ul li{
	display:block;
	text-align: center;
}
#bishal_imgs_right ul li{
	display:block;
	text-align:center
}

.back{
	position:absolute;
	top:1%;
	left:48%;
	font-size:20px;
	font-weight:bold;
}
div.back a{
	text-decoration:none;
	color:white;
	background-color:black;
}

div.back a:hover{
	text-decoration:none;
	background-color:green;
	color:white;
}


