// Place all the styles related to the Scorecards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#pdf_page{
	background-color:white;
}

#tournament{
	position:relative;
	margin-top:50px;
	text-align:center;
	color:white;
	font-weight:bold;
	font-size:300%;
	font-family:"wide latin"
}

#team{
	position:relative;
	margin-top:15px;
	text-align:center;
	color:white;
	font-weight:bold;
	font-size:150%;
	font-family:"wide latin"
}

#venue{
	position:relative;
	margin-top:10px;
	text-align:center;
	color:white;
	font-weight:bold;
	font-size:150%;
	font-family:"wide latin"
}

#inning{
	position:relative;
	margin-top:10px;
	text-align:center;
	color:white;
	font-weight:bold;
	font-size:150%;
	font-family:"wide latin"
}

#scores{
	position:fixed;
	left:5px;
	top:70px;
	height:45px;
	width:90px;
	background-color:lightyellow;
	text-align:center;
	color:steelblue;
	font-weight:bold;
}
#target{
	position:fixed;
	left:5px;
	top:115px;
	height:20px;
	width:90px;
	background-color:lightyellow;
	text-align:center;
	color:steelblue;
	font-weight:bold;
}

#scorecard{
	margin:50px;
	background-color:black;
	opacity:0.7;
	width:1200px;
	margin-left:auto;
	margin-right:auto;
	color:white;
}

.scoring_numbers{
	width:50px;
	height:50px;
	text-align:center;
	background-color:white;
	color:black;
	font-weight:bold;
}

.scores_to_be_added_to {
	width:80px;
	text-align:right
}

.Batting_summary, td{
	width:65px;
	height:25px;
}

.Bowling_summary, td{
	width:65px;
}

.hilite {
	background-color:white;
	color:black;
}

.hilite-nonstriker {
	background-color:#989898;
	color:black
}

.side{
	opacity:0.6
}


td{
	text-align:center;
}

.Batsman{
	width:200px;
	text-align:left;
}

.Bowler{
	width:200px;
	text-align:left;
}

.bowling_side ul{
	margin: 0; 
	padding-top:1px;
	padding-bottom:1px;
}

.bowling_side ul li{
	display:block;
	background-color:#3C8626;
}

.bowling_side ul li:hover{
	box-shadow:inset 1px 1px 1px 1px #BFD1CF;
}


.scoring_number_clicked{
	opacity:0.9;
}


.dialog_td1{
	width:120px;
	font-size:10px;
	background-color:lightgrey
}

.dialog_td2{
	width:120px;
	font-size:10px;
	background-color:lightgrey
}

.scorecard{
	text-align:center;
}

.scorecard a{
	color:white;
}

.header{
	color:white;
	font-weight:bold
}


.area{
	background-color:steelblue;
	color:white;
	font-weight:bold;
	border:1px solid darkgrey;
	opacity:0.8;
	font-size:80%;
}


.area_t{
	height:35px;
}

.area_y{
	height:20px;
}


.area_f{
	height:25px;
}


.area_g{
	height:45px;
}


.area_sg{
	height:45px;
}


.area_s{
	height:60px;
}


.area_of{
	width:150px;
}

.area_st{
	width:90px;
}

.area_pd{
	width:20px;
}


.area_ol{
	width:150px;
}

#stumps img{
	position:absolute;
	left:50%;
	margin-left:-26px;
	margin-top:-50px;
}

#angle{
	position:absolute;
	left:32%;
	margin-top:15px;
}

#angle li{
	display:inline;
}

#angle1{
	position:absolute;
	left:40%;
	margin-top:50px;
}

#angle1 li{
	display:inline;
}


#details{
	text-align:center;
	color:white
}

#matchwinner{
	display:inline;
	text-align:center;
}

#winnerremarks{
	display:inline;
}

#details_values{
	text-align:center;
}

.vid{
	position:relative;
	margin-top:20px;
	text-align:center;
}


#video{
	position:relative;
	margin-left:auto;
	margin-right:auto;
}


