// Place all the styles related to the Tournaments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/




table#tournaments{
	position:relative;
	margin-left:auto;
	margin-right:auto;
}



table#tournaments tr th{	
	color:white;
}

#tournaments tr th{
	border-bottom:1px solid white;
	background-color:black;
	opacity:0.9;
	font-size:11px;
	font-family:"verdana";
	font-weight:bold;
	text-align:center;
}


#tournaments tr td{
	border-bottom:1px solid white;
	background-color:black;
	opacity:0.6;
	color:white;
	font-size:10px;
	font-weight:bold;
	font-family:"verdana";
	text-align:center;
	width:100px;
}

#tournaments tr td a{
	border-bottom:1px solid white;
	background-color:black;
	opacity:0.6;
	color:white;
	font-size:10px;
	font-weight:bold;
	font-family:"verdana";
	text-align:center;
	width:100px;
}


#newtournament{
	text-align:center;
}

#newtournament a{
	color:white;
}

#edittournament{
	text-align:center;
}

#edittournament a{
	color:white;
}

#new_tournament{
	background-color:black;
	opacity:0.6;
	width:500px;
	margin-left:auto;
	margin-right:auto
}




#new_tournament .caption{
	width:100px;
	text-align:right;
	color:white;
	font-weight:bold
}

#new_tournament .fields{
	text-align:left;
	width:400px;
}

#new_tournament table, #new_tournament div.actions,#new_tournament #success_message{
position:relative;
top:20px
}



.edit_tournament .caption{
	width:100px;
	text-align:right;
	color:white;
	font-weight:bold
}

.edit_tournament .fields{
	text-align:left;
	width:400px;
}

.edit_tournament table, .edit_tournament div.actions,.edit_tournament #success_message{
position:relative;
top:20px
}